.navbar{

    background-color: #3700b3 !important;

}

.nav-link{

    color: white !important;
    font-weight: bold !important;
    
}

.card1 ,.card2,.card3{

    display: flex;
    height: 100px;
    background-color: white;
    width: 30%;
    box-shadow: 2px 4px 5px gray;
}

.maincard{


    margin-top: 30px;
}


